<!-- Survey/templates/Front.html -->
<!DOCTYPE html>
<html>

{% load staticfiles %}

<script src= "{% static 'js/jquery-3.0.js' %}"></script>
<script src= "{% static 'js/ajax.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'CSS/base.css' %}" />

<body>

<h1>
Car Negotiation Simulator 
</h1>
<p>Car trading is a frequency scenario for negotiation. Imagine you are buying a car and making bids with the seller.</p>


<div class = "head_div"><h2>Instruction</h2></div>
<div class = "instr_div"><p>Complete your three bids and click submit, the simulated counter bids will appear. For more convenient visualization 
you may choose to group by bids to decide whether to accept or abandon the negotiation </p></div> 
<br>
   <label><strong> Layout: Group by </strong></label>
   <input type="submit" value="Bids">
   <input type="submit" value="Offers"></br>

<table id = "survey" >
<form action=" " method="post" id = "survey">
 <div class = "table_div">
{% csrf_token %}

 <colgroup>
	<col>
	<col style= "background-color:rgb(235, 235, 224)">
	<col id = B1 style= "background-color:rgb(204,242,255,1)">
	<col id = col1 style = "background-color:rgb(230,249,255,1); visibility: collapse" >
	<col id = B2 style = "background-color:rgb(204,204,255,1)">
	<col id = col2 style = "background-color:rgb(230,230,255,1); visibility: collapse" >
	<col id = B3 style = "background-color:rgb(204,255,242,1)">
	<col id = col3 style = "background-color:rgb(230,255,249,1); visibility: collapse">
	
	<col id = copy1 style = "background-color:rgb(230,249,255,1); visibility: collapse" >
	<col id = copy2 style = "background-color:rgb(230,230,255,1); visibility: collapse" >
	<col id = copy3 style = "background-color:rgb(230,255,249,1); visibility: collapse">
 </colgroup>

 <thead>
  <tr>
    <th> Alternatives to be discussed</th>
    <th>Employer</th>
    <th>Bid 1 </th>
    <th id = T1 style = "visibility: hidden" >Counter B1</th>
    <th>Bid 2</th>
    <th id = T2 style = "visibility: hidden">Counter B2</th>
    <th>Bid 3</th>
    <th id = T3 style = "visibility: hidden">Counter B3</th>
	
	<th id = T1C style = "visibility: hidden" >Counter B1</th>
	<th id = T2C style = "visibility: hidden">Counter B2</th>
	<th id = T3C style = "visibility: hidden">Counter B3</th>
  </tr>
 </thead>
 <tbody>
  <tr>
    <th>Bigger office</th>
    </tr>
   <tr>
    <td>Bigger cubible</td>
   <td>5</td>
   <td><input type="radio" name="R1B1" value="5" required><br></td>
   <td> </td>
   <td><input type="radio" name="R1B2" value="5" required><br></td>
   <td> </td>
    <td><input type="radio" name="R1B3" value="5" required><br></td>
    <td> </td>
	
	<td> </td>
	<td> </td>
	<td> </td>
  </tr>
  <tr>
   <td>Shared office</td>
   <td>60</td>
      <td><input type="radio" name="R1B1" value="60"><br></td>
      <td id =R1C1></td>
   <td><input type="radio" name="R1B2" value="60"><br></td>
   <td id =R1C2></td>
    <td><input type="radio" name="R1B3" value="60"><br></td>
    <td id = R1C3></td>
	
	 <td id =R1C1C></td>
	 <td id =R1C2C></td>
	 <td id = R1C3C></td>

   </tr>
   
   <tr>
    <td>No change</td>
   <td>30</td>
   <td><input type="radio" name="R1B1" value="30" required><br></td>
   <td> </td>
   <td><input type="radio" name="R1B2" value="30" required><br></td>
   <td> </td>
    <td><input type="radio" name="R1B3" value="30" required><br></td>
    <td> </td>
	
	<td> </td>
	<td> </td>
	<td> </td>
  </tr>
  
    <tr>
    <th>New and challenging individual assignments</th>
    </tr>
 
    <tr>
    <td>Some teamwork, some individual work</td>
   <td>80</td>
   <td><input type="radio" name="R2B1" value="80" required><br></td>
   <td> </td>
   <td><input type="radio" name="R2B2" value="80" required><br></td>
   <td> </td>
    <td><input type="radio" name="R2B3" value="80" required><br></td>
    <td> </td>
	
	<td> </td>
	<td> </td>
	<td> </td>
  </tr>
  <tr>
   <td>No (i.e., no change to current situation)</td>
   <td>10</td>
   <td><input type="radio" name="R2B1" value="10"><br></td>
   <td id =R2C1></td>
   <td><input type="radio" name="R2B2" value="10"><br></td>
      <td id =R2C2></td>
    <td><input type="radio" name="R2B3" value="10"><br></td>
       <td id =R2C3></td>
	   <td id =R2C1C></td>
	   <td id =R2C2C></td>
	   <td id =R2C3C></td>
   </tr>
     <tr>
    <td>Mostly Group Work</td>
   <td>40</td>
   <td><input type="radio" name="R2B1" value="40" required><br></td>
   <td> </td>
   <td><input type="radio" name="R2B2" value="40" required><br></td>
   <td> </td>
    <td><input type="radio" name="R2B3" value="40" required><br></td>
    <td> </td>
	
	<td> </td>
	<td> </td>
	<td> </td>
  </tr>
   <tr>
    <th>Working hours</th>
    </tr>
    <tr>
    <td>Yes, flextime and others</td>
   <td>50</td>
   <td><input type="radio" name="R3B1" value="50" required><br></td>
      <td> </td>
   <td><input type="radio" name="R3B2" value="50" required><br></td>
      <td> </td>
    <td><input type="radio" name="R3B3" value="50" required><br></td>
       <td> </td>
	   	
	<td> </td>
	<td> </td>
	<td> </td>
  </tr>
  <tr>
   <td>No change</td>
   <td>0</td>
      <td><input type="radio" name="R3B1" value="0"><br></td>
      <td id =R3C1></td>
   <td><input type="radio" name="R3B2" value="0"><br></td>
      <td id =R3C2></td>
    <td><input type="radio" name="R3B3" value="0"><br></td>
       <td id =R3C3></td>
	   <td id =R3C1C></td>
	   <td id =R3C2C></td>
	   <td id =R3C3C></td>
   </tr>
   <tr>
  
   <tr>
    <td>Work more</td>
   <td>10</td>
   <td><input type="radio" name="R3B1" value="10" required><br></td>
      <td> </td>
   <td><input type="radio" name="R3B2" value="10" required><br></td>
      <td> </td>
    <td><input type="radio" name="R3B3" value="10" required><br></td>
    <td> </td>	
	<td> </td>
	<td> </td>
	<td> </td>
  </tr>
  
   <th><font color = "red">Sum of Points</font></th>
   <td> </td>
   <td input id = "Bid1" type = "text" value = "" >N/A</td>
   <td> </td>
   <td input id = "Bid2" type = "text" value = "" >N/A</td>
   <td> </td>
   <td input id = "Bid3" type = "text" value = "" >N/A</td>
   <td> </td>
   
   <td> </td>
   <td> </td>
   <td> </td>
   </tr>
   
   </tbody>
    </div>
   </table>
  
   <input id = "Submit" type="submit" value="Submit">
   
   <a href = "/">Go back home</a>
   
  
  </body>
  </form>

</html>